body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

div.all {
  width: 400px;
  height: 300px;
  background-image: linear-gradient(
    to bottom right,
    #ADA2FF,
    #FFE5F1
  );
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  position: absolute;
  top: 30px;
  left: calc(50% - 400px /2);
  box-shadow: 2px 5px 15px rgb(198, 197, 197);

}

div.all > h1 {
  width: 95%;
  height: 100px;
  background-color: #ffffff81;
  margin: 10px auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

div.all > h1 > p {
  margin: 10px 0 0 20px;
  padding-top: 10px;
}

div.all > div.body {
  width: 95%;
  height: 140px;
  margin: 5px auto;
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}

div.all > div.body > div.input {
  width: 70%;
  height: inherit;
  display: flex;
  flex-direction: column;
}

div.all > div.body > div.input > input#num1 {
  width: 93%;
  height: 50px;
  margin-bottom: 15px;
  border: none;
  background-color: #ffffff77;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  outline: none;
  padding-left: 10px;
  color: rgb(0, 0, 0);
  font-size: 13px;
  font-weight: 600;
}

div.all > div.body > div.input > input#num2 {
  width: 93%;
  height: 50px;
  border: none;
  background-color: #ffffff5b;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  outline: none;
  padding-left: 10px;
  color: rgb(0, 0, 0);
  font-size: 13px;
  font-weight: 600;
}

div.all > div.body > div.button {
  width: 30%;
  height: inherit;
  display: flex;
  flex-direction: column;
}

div.all > div.body > div.button > div.top {
  width: 100%;
  height: 50px;
  margin-bottom: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

div.all > div.body > div.button > div.top > button#plus {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  background-image: linear-gradient(to bottom right, #fee1ee, #a49beb);
  cursor: pointer;
}


div.all > div.body > div.button > div.top > button#minus {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border: 0;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    background-image: linear-gradient(to bottom right, #fee1ee, #a49beb);
    cursor: pointer;
}

div.all > div.body > div.button > div.bottom {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

div.all > div.body > div.button > div.bottom > button#mul {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background-image: linear-gradient(to bottom right, #fee1ee, #a49beb);
    cursor: pointer;
}
div.all > div.body > div.button > div.bottom > button#div {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background-image: linear-gradient(to bottom right, #fee1ee, #a49beb);
    cursor: pointer;
}
